/* You can add global styles to this file, and also import other style files */

body {
  font-family: "JetBrains Mono", serif;
  background-color: #f9fafb;
  background-image: linear-gradient(#e5e7eb 1px, #0000 0), linear-gradient(90deg, #e5e7eb 1px, #0000 0);
  background-size: 100px 100px;
}
